<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="applicable-device" content="mobile" />
        <link
            type="image/jpg"
            rel="icon"
            href="https://p6.music.126.net/obj/wonDlsKUwrLClGjCm8Kx/15236074041/20bc/552a/5a34/b4e5fa461357c75947067a9baefeef14.jpg">
        <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1,viewport-fit=cover" />
        <meta name="referrer" content="no-referrer-when-downgrade"" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title><%=htmlWebpackPlugin.options.title%></title>
    </head>
<body>
    <div id="root"></div>
</body>
</html>
